<!-- Navbar -->
<!--<header class="header">-->
<header class="header sticky-top" style="background-color: white; position: fixed; top: 0; width: 100%">
  <div class="header__top" style="background-color: #e7e7e7">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> TheLastShinobi@gmail.com</li>
              <li>Miễn phí giao hàng cho tất cả các đơn hàng.</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="header__top__right__language">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Flag_of_North_Vietnam_%281955%E2%80%931976%29.svg/230px-Flag_of_North_Vietnam_%281955%E2%80%931976%29.svg.png"
                alt="" style="height: 20px">
              <div>Tiếng Việt</div>
              <span class="arrow_carrot-down"></span>
              <ul>
                <li><a href="#">Tiếng Việt</a></li>
                <li><a href="#">English</a></li>
              </ul>
            </div>
            <div class="header__top__right__auth" *ngIf="username == ''">
              <a routerLink="/login"><i class="fa fa-user"></i> Đăng nhập</a>
            </div>
            <div class="header__top__right__auth" *ngIf="username != ''">
              <a (click)="whenLogout()"><i class="fa fa-sign-out"></i> Đăng xuất</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a routerLink="/"><img src="../../assets/shinobi.png" alt="" style="height: 50px"></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li><a routerLink="/">Trang chủ</a></li>
            <li><a routerLink="/">Mua sắm</a></li>
            <li><a href="#">Cá nhân</a>
              <ul class="header__menu__dropdown">
                <li><a routerLink="/cart">Giỏ hàng</a></li>
                <li><a href="#">Lịch sử</a></li>
              </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Trợ giúp</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul *ngIf="quantityCart == 0 && username == ''">
            <li style="transform: scale(1.5)"><a readonly=""><i class="fa fa-cart-plus"></i></a></li>
          </ul>

          <ul *ngIf="quantityCart == 0 && username != ''">
            <li style="transform: scale(1.5)"><a routerLink="/cart"><i class="fa fa-cart-plus"></i></a></li>
          </ul>

          <ul *ngIf="quantityCart > 0 && quantityCart < 100 && username != ''">
            <li style="transform: scale(1.5)"><a routerLink="/cart"><i class="fa fa-shopping-bag"></i>
              <span style="font-size: 8px">{{quantityCart}}</span></a></li>
          </ul>

          <ul *ngIf="quantityCart > 99 && username != ''">
            <li style="transform: scale(1.5)"><a routerLink="/cart"><i class="fa fa-shopping-bag"></i>
              <span style="font-size: 8px">+99</span></a></li>
          </ul>
          <div class="header__cart__price ml-2" *ngIf="username != ''">Chào, <span>{{username}}</span></div>
          <div class="header__cart__price ml-2" *ngIf="username == ''">Giỏ hàng</div>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>

<!-- Phone -->
<!--<section class="hero hero-normal">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--        <div class="hero__search">-->
<!--          <div class="hero__search__phone">-->
<!--            <div class="hero__search__phone__icon">-->
<!--              <i class="fa fa-phone"></i>-->
<!--            </div>-->
<!--            <div class="hero__search__phone__text">-->
<!--              <h5>+65 11.188.888</h5>-->
<!--              <span>support 24/7 time</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!-- Image -->
<!--<section class="breadcrumb-section set-bg" style="background-size: cover; position: relative;-->
<section class="breadcrumb-section set-bg" style="background-size: cover; position: relative; margin-top: 126px;
left: 0; top: 0; width: 100%; height: 83%;
background-image: url(https://file.hara.vn/1000113711/file/collection_banner_f9ba0f9321ae4730844be90334241af0.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-right">
        <div class="breadcrumb__text">
          <h2 class="text-dark"><span>Shinobi </span><span style="font-size: 40px; color: #585858">Shop </span>
            <i class="fa fa-bolt" aria-hidden="true" style="color: yellow; font-size: 45px"></i></h2>
          <div class="breadcrumb__option">
            <p class="text-white" style="font-size: 22px">Mang đến trải nghiệm tốt nhất cho khách hàng!!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
