<footer class="footer spad" style="background-color: #e7e7e7">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__about__logo">
            <a routerLink="/"><img src="../../assets/shinobi.png" alt=""></a>
          </div>
          <ul>
            <li><strong>Địa chỉ:</strong> 295 Nguyễn Tất Thành, Đà Nẵng</li>
            <li><strong>Điện thoại:</strong> +84 348 573 228</li>
            <li><strong>Email:</strong> TheLastShinobi@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
        <div class="footer__widget">
          <h6>Liên kết hữu ích</h6>
          <ul>
            <li><a>Về chúng tôi</a></li>
            <li><a>Về cửa hàng</a></li>
            <li><a>Mua sắm an toàn</a></li>
            <li><a>Thông tin giao hàng</a></li>
            <li><a>Chính sách bảo mật</a></li>
            <li><a>Sơ đồ trang web</a></li>
          </ul>
          <ul>
            <li><a>Chúng ta là ai?</a></li>
            <li><a>Dịch vụ</a></li>
            <li><a>Dự án</a></li>
            <li><a>Tiếp xúc</a></li>
            <li><a>Sự đổi mới</a></li>
            <li><a>Chứng thực</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="footer__widget">
          <h6>Tham gia Bản tin của chúng tôi ngay bây giờ</h6>
          <p>Nhận thông tin cập nhật mới nhất qua E-mail về cửa hàng của chúng tôi và các ưu đãi đặc biệt.</p>
          <div class="form__input mb-4">
            <input type="text" placeholder="   Nhập email của bạn.." style="height: 45px; width: 65%;
            text-align: center"/>
            <button type="submit" class="site-btn hover-green">Đăng ký</button>
          </div>

          <div class="footer__widget__social">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-instagram"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__copyright">
          <div class="footer__copyright__text">
            <p>Copyright &copy;2022 All rights reserved | This template is made with
              <i class="fa fa-heart" aria-hidden="true"></i> by
              <a target="_blank" class="text-primary">The Last Shinobi
                <i class="fa fa-bolt" aria-hidden="true" style="color: yellow; font-size: 20px"></i></a></p>
          </div>
          <div class="footer__copyright__payment"><img src="../../assets/img/payment-item.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</footer>
